@model ASPNETCORERoleManagement.Models.Tareaspersonal

@{
    ViewData["Title"] = "Create";
}

<h2>Nuevo</h2>

<h4>Tareaspersonal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TareaId" class="control-label"></label>
                <select asp-for="TareaId" class="form-control" asp-items="ViewBag.TareaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PERNR" class="control-label"></label>
                <input asp-for="PERNR" class="form-control" />
                <span asp-validation-for="PERNR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observaciones" class="control-label"></label>
                <input asp-for="Observaciones" class="form-control" />
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FRegistro" class="control-label"></label>

                <div class="input-group">
                    @Html.TextBoxFor(m => m.FRegistro, "{0:dd/MM/yyyy}", new { maxlength = "12", @class = "date-picker form-control auto-focus" })
                    <label for="@Html.IdFor(m => m.FRegistro )" class="input-group-addon btn">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </label>

                </div>


                <span asp-validation-for="FRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PorcAvance" class="control-label"></label>
                <input asp-for="PorcAvance" class="form-control" />
                <span asp-validation-for="PorcAvance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn  btn-success " />
                <a asp-action="Index" class="btn btn-default ">Regresar a la lista</a>
            </div>
        </form>
    </div>
</div>
</div>

<link href="~/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />

@section Scripts {
    
    <script src="~/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script>

        $(function () {
            $(".date-picker").datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true

            });
        });

    </script>

}
