@model ASPNETCORERoleManagement.Models.Tareaspersonal

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Tareaspersonal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TareaId" class="control-label"></label>
                <select asp-for="TareaId" class ="form-control" asp-items="ViewBag.TareaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PERNR" class="control-label"></label>
                <input asp-for="PERNR" class="form-control" />
                <span asp-validation-for="PERNR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observaciones" class="control-label"></label>
                <input asp-for="Observaciones" class="form-control" />
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FRegistro" class="control-label"></label>
                <input asp-for="FRegistro" class="form-control" />
                <span asp-validation-for="FRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PorcAvance" class="control-label"></label>
                <input asp-for="PorcAvance" class="form-control" />
                <span asp-validation-for="PorcAvance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

