@model ASPNETCORERoleManagement.Models.Divis
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Crear";
}

<h3><span class="label label-info">@HttpContextAccessor.HttpContext.Session.GetString("_GpoCia")</span>-Crear<small>-Divis</small></h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-md-5">
                    <label asp-for="Gbukrs" class="control-label"></label>
                    <input asp-for="Gbukrs" class="form-control" value="@ViewBag.GpoCiaG" readonly />
                    <span asp-validation-for="Gbukrs" class="text-danger"></span>
                </div>
                <div class="form-group col-md-5">
                    <label asp-for="Bukrs" class="control-label"></label>
                    <!--<input asp-for="Bukrs" class="form-control" /> -->
                    <select asp-for="Bukrs"
                            class="form-control"
                            asp-items="@(new SelectList(ViewBag.DaBukrs, "Text", "Value"))"></select>
                    <span asp-validation-for="Bukrs" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Divi" class="control-label"></label>
                <input asp-for="Divi" class="form-control" />
                <span asp-validation-for="Divi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descrip" class="control-label"></label>
                <input asp-for="Descrip" class="form-control" />
                <span asp-validation-for="Descrip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
