@model ASPNETCORERoleManagement.Models.Objetivo

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Objetivo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdObjetivo" class="control-label"></label>
                <input asp-for="IdObjetivo" class="form-control" />
                <span asp-validation-for="IdObjetivo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inicio" class="control-label"></label>
                <input asp-for="Inicio" class="form-control" />
                <span asp-validation-for="Inicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fin" class="control-label"></label>
                <input asp-for="Fin" class="form-control" />
                <span asp-validation-for="Fin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoObjId" class="control-label"></label>
                <input asp-for="IdObjetivo" value="@ViewBag.TipoObjetivo" />
                @*<input asp-for="IdObjetivo" value="@ViewBag.DescObjetivo"    class="form-control"  readonly="readonly"  />*@                
                <span asp-validation-for="TipoObjId" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <input type="hidden" asp-for="IdObjetivo" value="@ViewBag.TipoObjetivo" />
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
