@model ASPNETCORERoleManagement.Models.Estatus_stat2
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Edit";
}
<h3><span class="label label-info">@HttpContextAccessor.HttpContext.Session.GetString("_GpoCia")</span>- Editar<small>-Estatus del Empleado</small></h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="form-group col-md-5">
                    <label asp-for="Gbukrs" class="control-label"></label>
                    <input asp-for="Gbukrs" class="form-control" readonly />
                    <span asp-validation-for="Gbukrs" class="text-danger"></span>
                </div>
                <div class="form-group col-md-5">
                    <label asp-for="Bukrs" class="control-label"></label>
                    <!--  <input asp-for="Bukrs" class="form-control" />-->
                    <select asp-for="Bukrs"
                            class="form-control"
                            asp-items="@(new SelectList(ViewBag.DaBukrs, "Text", "Value"))"></select>
                    <span asp-validation-for="Bukrs" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Estatus" class="control-label"></label>
                <input asp-for="Estatus" class="form-control" />
                <span asp-validation-for="Estatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desc" class="control-label"></label>
                <input asp-for="Desc" class="form-control" />
                <span asp-validation-for="Desc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
