@model ASPNETCORERoleManagement.Models.Tareas

@{
    ViewData["Title"] = "Editar";
}

<div class="panel panel-default">
    <div class="panel-heading">

        <h4>Editar Tareas</h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class=".col-xs-12 .col-sm-6 .col-md-8">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="TareaId" />
                    <div class="form-group">
                        <label asp-for="IdObjetivo" class="control-label"></label>
                        <select asp-for="IdObjetivo" class="form-control" asp-items="ViewBag.IdObjetivo"></select>
                        <span asp-validation-for="IdObjetivo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TareasDesc" class="control-label"></label>
                        <input asp-for="TareasDesc" class="form-control" />
                        <span asp-validation-for="TareasDesc" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TareasFechaRegistro" class="control-label"></label>
                        <input asp-for="TareasFechaRegistro" class="form-control" />
                        <span asp-validation-for="TareasFechaRegistro" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TareasFechaFinDeseado" class="control-label"></label>
                        <input asp-for="TareasFechaFinDeseado" class="form-control" />
                        <span asp-validation-for="TareasFechaFinDeseado" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TareasFechaFinReal" class="control-label"></label>
                        <input asp-for="TareasFechaFinReal" class="form-control" />
                        <span asp-validation-for="TareasFechaFinReal" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group">

                        <input type="submit" value="Guardar" class="btn btn-success" />
                        <a asp-action="Index" class="btn btn-default">Volver la lista</a>
                    </div>
</form>
            </div>
        </div>
    </div>
</div> 
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
