@model ASPNETCORERoleManagement.Models.CentrodeCostos
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Editar";
}

<h4><span class="label label-info">@HttpContextAccessor.HttpContext.Session.GetString("_GpoCia")</span> Editar <small>- Centro de Costos</small></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="form-group col-md-5">
                    <label asp-for="Gbukrs" class="control-label"></label>
                    <input asp-for="Gbukrs" class="form-control" readonly/>
                    <span asp-validation-for="Gbukrs" class="text-danger"></span>
                </div>
                <div class="form-group col-md-5">
                    <label asp-for="Bukrs" class="control-label"></label>
                    <input asp-for="Bukrs" class="form-control" />
                    <span asp-validation-for="Bukrs" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Cent_cost" class="control-label"></label>
                <input asp-for="Cent_cost" class="form-control" />
                <span asp-validation-for="Cent_cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descrip" class="control-label"></label>
                <input asp-for="Descrip" class="form-control" />
                <span asp-validation-for="Descrip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Grabar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
