@model ASPNETCORERoleManagement.Models.IT1

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>IT1</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Gbukrs" class="control-label"></label>
                <input asp-for="Gbukrs" class="form-control" />
                <span asp-validation-for="Gbukrs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bukrs" class="control-label"></label>
                <input asp-for="Bukrs" class="form-control" />
                <span asp-validation-for="Bukrs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pernr" class="control-label"></label>
                <input asp-for="Pernr" class="form-control" />
                <span asp-validation-for="Pernr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subty" class="control-label"></label>
                <input asp-for="Subty" class="form-control" />
                <span asp-validation-for="Subty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BegDa" class="control-label"></label>
                <input asp-for="BegDa" class="form-control" />
                <span asp-validation-for="BegDa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDa" class="control-label"></label>
                <input asp-for="EndDa" class="form-control" />
                <span asp-validation-for="EndDa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seqnr" class="control-label"></label>
                <input asp-for="Seqnr" class="form-control" />
                <span asp-validation-for="Seqnr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aedtm" class="control-label"></label>
                <input asp-for="Aedtm" class="form-control" />
                <span asp-validation-for="Aedtm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Uname" class="control-label"></label>
                <input asp-for="Uname" class="form-control" />
                <span asp-validation-for="Uname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Divi" class="control-label"></label>
                <input asp-for="Divi" class="form-control" />
                <span asp-validation-for="Divi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo_pers" class="control-label"></label>
                <input asp-for="Tipo_pers" class="form-control" />
                <span asp-validation-for="Tipo_pers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Area_pers" class="control-label"></label>
                <input asp-for="Area_pers" class="form-control" />
                <span asp-validation-for="Area_pers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subdivis" class="control-label"></label>
                <input asp-for="Subdivis" class="form-control" />
                <span asp-validation-for="Subdivis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nomina" class="control-label"></label>
                <input asp-for="Nomina" class="form-control" />
                <span asp-validation-for="Nomina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cent_cost" class="control-label"></label>
                <input asp-for="Cent_cost" class="form-control" />
                <span asp-validation-for="Cent_cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Orgeh" class="control-label"></label>
                <input asp-for="Orgeh" class="form-control" />
                <span asp-validation-for="Orgeh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plans" class="control-label"></label>
                <input asp-for="Plans" class="form-control" />
                <span asp-validation-for="Plans" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stell" class="control-label"></label>
                <input asp-for="Stell" class="form-control" />
                <span asp-validation-for="Stell" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalId" class="control-label"></label>
                <select asp-for="PersonalId" class ="form-control" asp-items="ViewBag.PersonalId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
